.wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;

  display: flex;
  top: 0;
  left: 0;
  z-index: 1000;
}


.loading {
    margin: auto;
    width: 120px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    border-radius: 50%;
    /* background: var(--gray-400);
    border: 0.3px solid var(--gray-500); */
}