@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");

:root {
  /** Produto */
  --blue-dark-p: #1e709f49;
  --blue-dark: #1e6f9f;
  --blue: #4ea8de;
  --purple-dark: #5e60ce;
  --purple: #8284fa;
  /** Base */
  --gray-100: #f2f2f2;
  --gray-200: #d9d9d9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1a1a1a;
  --gray-700: #0d0d0d;
  /** Feedback */
  --danger: #e25858;
  /** Font */
  --font: "Inter", sans-serif;
  --font-size: 1rem;
  --font-size-m: 1.2rem;
  --font-size-s: 0.625rem;
  --font-size-p: 0.875rem;  
  /** gap */
  --gap-s: 0.625rem;
  --gap-p: 0.875rem;
  --gap-m: 1rem;
  --gap: 1.25rem;

  --radius: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
}

.container {
  width: 61.625rem;
  margin: 0 auto;
  padding: var(--gap-m);
}

input {
  display: block;
  border: none;
  width: 100%;
  padding: var(--gap-m);
  border-radius: var(--radius);
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--gray-300);
  border: 1px solid var(--Gray-700, #0d0d0d);
  background: var(--Gray-500, #262626);
}

input:focus {
  color: var(--gray-100);
  outline: 0.5px solid var(--purple-dark);
}

.checkbox {
  display: none;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-family: var(--font);
  font-size: var(--font-size-p);
  color: var(--gray-200);
  padding: 0 5px;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  display: block;
  width: var(--gap);
  height: var(--gap);
  box-sizing: border-box;
  border: 2px solid var(--blue);
  border-radius: 50%;
  margin: 0 var(--gap);
  background: transparent;

  /* background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342093L4.09865 4.67403L1.61618 2.19156L0.780273 3.02747L4.09865 6.34584L9.26649 1.178L8.43059 0.342093Z' fill='%23purple-dark'/%3E%3C/svg%3E%0A"); */

  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.3s ease-in-out;
}

.checkbox:checked + .checkbox-label::before {
  border: 2px solid var(--purple-dark);
  background-color: var(--purple-dark);

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342093L4.09865 4.67403L1.61618 2.19156L0.780273 3.02747L4.09865 6.34584L9.26649 1.178L8.43059 0.342093Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
}

.checkbox-label:hover::before {
  border-color: var(--blue-dark);
  background: var(--blue-dark-p);
  background-repeat: no-repeat;
  background-position: center center;
}

.buttonCriar {
  width: 5.625rem;
  height: 3.25rem;
  border-radius: var(--radius);
  background: var(--blue-dark);
  color: var(--gray-100);
  font-family: var(--font);
  font-size: var(--font-size-p);
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
}

.buttonCriar:hover {
  background: var(--blue);
}

.deleteBotton {
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 0.8rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background: transparent;
  transition: background 0.3s ease-in-out;
}

.deleteBotton svg {
  width: 1rem;
  height: 1rem;
  transition: fill 0.2s ease-in-out;
}

.deleteBotton svg:hover path {
  fill: var(--danger);
}

.deleteBotton:hover {
  background: var(--gray-400);
  border: 0.1rem solid #80808034;
}

.buttonCriar:disabled:hover {
  background: #4778ff;
  cursor: wait;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.not-found {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}